﻿body {
    padding-top: 56px;
    padding-bottom: 100px;
}
.frame {
    height: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 1em 0;
}

.frame .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 250px;
}

.card-footer {
    background-color: limegreen;
}

.card-footer.reservedforeign {
    background-color: slategrey;
}

.card-footer div {
    color:black; 
    text-align: center
}

.card-footer.available div {
    cursor: pointer;
}

.listbtn {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-footer.reserved {
    cursor: pointer;
    background-color: #ffc216
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
}
