﻿@model Gift

<h2>Dodaj prezent</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label class="control-label"> Zdjęcie prezentu</label><br/>
                    <img src ="@ViewBag.ImgPath" height="300" width="300"/><br/>
                    <input type="file" name="file" style="margin-top:10px"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Załaduj zdjęcie" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label">Link</label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Cena</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Opis</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GList" class="control-label">Dziecko</label>
                    <select asp-for="GListId" class="form-control" asp-items="@(new SelectList(ViewBag.Glists, "Id", "OwnersName").ToList())">
                        <option value="">Wybierz dziecko</option>
                    </select>
                    <span asp-validation-for="GList" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">

                <input type="hidden" asp-for="ImageUrl" value="@ViewBag.ImgPath" />

                <div class="form-group">
                    <input type="submit" value="Dodaj prezent" class="btn btn-success" style="margin-top:30px" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger pull-right" style="margin-top:30px">Powrót</a>
                </div>
            </div>
        </form>
    </div>
</div>
