﻿@model GList

<h2>Dodaj kolejne dziecko</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="OwnersName" class="control-label">Imię dziecka</label>
                    <input asp-for="OwnersName" class="form-control" />
                    <span asp-validation-for="OwnersName" class="text-danger"></span>
                </div>
                
            </div>
            <div class="col-md-4">

                @*<input type="hidden" asp-for="Id" />*@

                <div class="form-group">
                    <input type="submit" value="Dodaj dziecko" class="btn btn-success" style="margin-top:30px" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger pull-right" style="margin-top:30px">Powrót</a>
                </div>
            </div>
        </form>
    </div>
</div>
