﻿@model Gift
<div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-6">
                <img alt="@Model.Name" src="@Model.ImageUrl" height="500" width="500" />
            </div>
            <div class="col-md-6">
                <h2>Na pewno chcesz usunąć?</h2>
                <div class="pull-right">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Usuń" class="btn btn-success" />
                        <input type="hidden" asp-for="ImageUrl"/>
                        <a asp-controller="Gift" asp-action="Owner" asp-route-id ="@Model.GListId" class="btn btn-success">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>