﻿@model Gift

<h2>Edytuj Prezent</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label class="control-label"> Zdjęcie prezentu</label><br />
                    <img src="@ViewBag.ImgPath" height="300" width="300" /><br />
                    <input type="file" name="file" style="margin-top:10px" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Załaduj zdjęcie" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BookedBy"/>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Cena</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GListId" class="control-label"></label>
                    <select asp-for="GListId" class="form-control" asp-items="@(new SelectList(ViewBag.Glists, "Id", "OwnersName").ToList())">
                        <option value="">Wybierz dziecko</option>
                    </select>
                    <span asp-validation-for="GList" class="text-danger"></span>
                </div>
            </div>
            <div>
                <input type="hidden" asp-for="ImageUrl" value="@ViewBag.ImgPath" />
                <div class="form-group">
                    <input type="submit" value="Edytuj prezent" class="btn btn-success" style="margin-top:30px" />
                    <a asp-controller="Gift" asp-action="Owner" asp-route-id="@Model.GListId" class="btn btn-danger pull-right" style="margin-top:30px">Powrót</a>
                </div>
            </div>
        </form>
    </div>
</div>