﻿@model GiftVM
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
<div class="row">
    <div class="col-lg-3">

        <h2 class="my-4">Przedział cenowy</h2>
        <div class="list-group">
            <a asp-route="default" asp-route-low="0" asp-route-high="50" class="list-group-item">0-50</a>
            <a asp-route="default" asp-route-low="50" asp-route-high="100" class="list-group-item">51-100</a>
            <a asp-route="default" asp-route-low="100" asp-route-high="150" class="list-group-item">101-150</a>
            <a asp-route="default" asp-route-low="150" class="list-group-item">151+</a>
            <a asp-route="default" asp-route-low="null" asp-route-high="null" class="list-group-item">Wszystko</a>

        </div>
    </div>
    <div class="col-lg-9">
        <a asp-action="Create" class="btn btn-danger btn-sm">Dodaj nowy</a>
        <div class="row">
            @foreach (var gift in Model.Gifts)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="frame">
                            <span class="helper"></span>
                            <img class="card-img-top" src=@gift.ImageUrl alt="">

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@gift.Link">@gift.Name</a>
                            </h4>
                            <h5>@gift.Price zł</h5>
                            <p class="card-text">@gift.Description</p>
                        </div>
                        @if (gift.BookedBy != null)
                        {
                            @if (@gift.BookedBy != @User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <div class="card-footer form-group reservedforeign">
                                    <div>Zarezerwowany</div>
                                </div>
                            }
                            else
                            {
                                <div class="card-footer form-group reserved">
                                    <div data-gift-id="@gift.Id">Zarezerwowany</div>
                                </div>
                            }
                        }
                        else
                        {
                            @if (@User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
                            {
                                <div class="card-footer form-group available">
                                    <div data-gift-id="@gift.Id">Zarezerwuj</div>
                                </div>
                            }
                            else
                            {
                                <div class="card-footer form-group unavailable">
                                    <div>Zaloguj się!</div>
                                </div>
                            }

                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@gift.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a>
                            <a asp-action="Delete" asp-route-id="@gift.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usuń</a>
                        }


                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script>
    var cancelfunction = function (event) {
        var buttonDiv = $(event.target);
        var giftid = buttonDiv.data('gift-id');
        $.ajax({
            type: "GET",
            url: "/Gift/Cancel/" + giftid,
            success: function (data) {
                buttonDiv.parent().removeClass("reserved").addClass("available");
                buttonDiv.text("Zarezerwuj");
                buttonDiv.off('click');
                buttonDiv.click(reservationfunction);
                toastr.success('You just cancelled your choice :(', null, { positionClass: "toast-bottom-right" })

            },
            error: function () {
                toastr.error('Something went wrong motherfucker', null, { positionClass: "toast-bottom-right" })
            }

        });
    }

    var reservationfunction = function (event) {
        var buttonDiv = $(event.target);
        var giftid = buttonDiv.data('gift-id');
        $.ajax({
            type: "GET",
            url: "/Gift/Reservation/" + giftid,
            success: function (data) {
                buttonDiv.parent().removeClass("available").addClass("reserved");
                buttonDiv.text("Zarezerwowany");
                buttonDiv.off('click');
                buttonDiv.click(cancelfunction);
                toastr.success('Good job you lazy son of a bitch!', null, { positionClass: "toast-bottom-right" })


            },
            error: function () {
                toastr.error('Something went wrong motherfucker', null, { positionClass: "toast-bottom-right" })
            }
        });
    }

    $(document).ready(function () {
        $('.card-footer.available div').click(reservationfunction);
        $('.card-footer.reserved div').click(cancelfunction);


    });
</script>






