﻿


    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Którego bachurza chcesz wybrać?</h1>
        </div>



        @foreach (var glist in @ViewBag.Glists)
        {
            <div class="col-12">
                <a asp-controller="Gift" asp-action="Owner" asp-route-id="@glist.Id" type="button" class="btn btn-primary btn-lg listbtn">@glist.OwnersName</a>
            </div>
        }

    </div>