﻿@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista prezentów</title>

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/content/StyleSheet.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <script src="~/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img src="/images/gift.png" width="30" height="30" class="d-inline-block align-top" alt="">
                @ViewBag.Title
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarResponsive">
                <ul class="navbar-nav ">
                    @foreach (var glist in @ViewBag.Glists)
                    {
                        <li class="nav-item">
                            <a asp-route="owner" asp-route-id="@glist.Id" class="nav-link">@glist.OwnersName</a>

                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Gift" asp-action="CreateList" class="nav-link">+</a>
                        </li>
                    }
                </ul>
            </div>



            <div class="collapse navbar-collapse">

                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Zaloguj</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        @*<div class="row">*@
        @RenderBody()
        @*</div>*@

    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Justyna Zwornicka 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->


</body>


</html>
